.answers--container {
    height: 60px;
    width: 1500px;
    display:  flex;
    justify-content: space-around;
    align-items: center;
    background-color: purple;
}

.answer--button {
    height: 25px;
    min-width: 250px;
    width:fit-content;
    border: none;
    border-radius: 6px;
    background-color: white;
}
.answer--button--color {
    background-color: cornflowerblue;
}
